body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/************************************/
@keyframes transicion{/*Para definir animaciones el keyframes*/
    from{opacity: 0;}
    to{opacity: 1;}
}
#encabezado{
    background-image: url(4c443d9d-42db-46b5-a141-19bb7ca70f74.jpg);
    color: white;
    padding: 2% 2% 2% 3%;
}
#encabezado h3{
    margin-top: 1%;
}
#enlace1{
    margin: -2.5% 26%;
    animation: transicion 1s;

}
#enlace1 ul li{
    display: inline;/*El display define como se muestra un elemento*/
    background-color: #08295e;
    padding: .9% 2%;
    border-radius: 15rem;
}
#enlace1 ul li a{
    color: white;
    text-decoration: none;
}
#enlace1 ul li:hover{
    background-color: #265cb2;
}
#enlace2{
    margin: -2.5% 0% 0% 76% ;
    animation: transicion 1s;

}
#enlace2 ul li{
    display: inline;/*El display define como se muestra un elemento*/
    background-color: #08295e;
    padding: 2% 3%;
    border-radius: 15rem;
}
#enlace2 ul li a{
    color: white;
    text-decoration: none;
}
#enlace2 ul li:hover{
    background-color: #265cb2;
}
#encabezado h1{
    margin-top: 15%;
}
/*****************************************/
#caja1{
    background-color: #E4E3E3;
    display: flex;/*El display define como se muestra un elemento*/
    padding-bottom: 3%;
}
#caja1 figure{
    margin: 5% 0% 0% 15%;
}
#caja1 figure  img{
    width: 450%;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px #a5a4a4;
}
#caja1 div{
    margin: 7% 5% 0% 30%;
    text-align: justify;
}
#caja1 div h3{
    text-align: center;
}
/*****************************************/
#caja2{
    display: flex;/*El display define como se muestra un elemento*/
    margin: 4%;
}

#caja2_img img{
    width: 80%;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px #afaeae;
}

#caja2_1{
    margin: 2%;
}
.caja2_2 img{
    width: 60%;
    border-radius: 2rem;
    margin-top: 25%;
}
/***************************************/
#caja3{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4%;
    margin-top: 1%;
}
#caja3 form{
    background-color: #E4E3E3;
    padding: 2% 1% 5% 1%;
    border-radius: 2rem;
    margin: 0 auto;
}
#caja3 form legend{
    font-size: 115%;
    margin-bottom: 5%;
}
#caja3 form fieldset{
    border: none;
    margin: 2%;
}
#caja3 form fieldset input{
    border: none;
    border-radius: 1rem;
    margin: 0 2%;
    padding: 0.3% 1%;
}
#caja3 form fieldset label{
    margin-right: -1%;
}

#caja3 form button{
    padding: 1% 2%;
    border-radius: 2rem;
    border-color: #d3d7dc;
    cursor: pointer;
}
#caja3 form button:hover{
    background-color: #dbd9d9;
}
/**************************************/
#caja4{
    text-align: center;
    background-color: #000000;
    color: white;
    padding-bottom: 2%;
    padding-top: 3%;
    
}
#caja4 div{
    display: flex;/*El display define como se muestra un elemento*/
    margin: 0 0 0 24%;
    padding-bottom: 1%;
    
}
#caja4 div h4{
    margin: 0% 5% 0% 5%;
}
#caja4  p
{
    margin-bottom: 0;
}
/****************************************/
/* Pantalla de pago*/
.Pago{
    
    text-align: justify;
    justify-content: center;
    margin: 5% auto;
    width: 100%;
    display: none;/*PAra que desapaerzca de la pagina*/
    top: 0;
    left: 0;
    position: fixed;/* fixed Para que no se mueva los contenedores al mover la rueda del mouse*/
}

/**Detalles de compraaaaa**/
#Detalles_Compra{
    background-color: #E4E3E3;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px #000000;
    margin: 0 25% 0 25%;
    animation: transicion 1s;
    padding-bottom: 2%;
}
#Detalles_Compra table {
    margin: 0 auto;
    
}
#CerrarPago{
    margin: 0% 0% 0% 45%;
    cursor: pointer;
    padding-top: 2%;
    position: absolute;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Detalles_Compra table tbody tr td{
    padding-bottom: 5%;
    margin-right: 5%;
    
}
#Detalles_Compra table tbody tr td hr{
    margin-right: -14%;
}
#Detalles_Compra table caption{
    padding-bottom: 5%;
    padding-top:6%;
    display: block;
    margin-left: 6%;
    margin-right: -6%;
}
#Detalles_Compra div button{
    border-radius: 2rem;
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    margin: 5% 15% 0% 15%;
}
#Detalles_Compra div button:hover{
    background-color: #bcbbbc;
}
#Detalles_Compra div{
    margin: 0 auto;/*0 de arriba y abajo,,, auto a los lados*/
    text-align: center;
}

/*InformaCION Y DIRECCION*/
#Informacion_Direccion{
    background-color: #E4E3E3;
    border-radius: 2rem; /*PAra el borde*/
    box-shadow: 5px 5px 10px #000000;/*Para la sombra*/
    margin: -1.5% 25% 0 25%;
    position: relative;
    animation: transicion 1s;

    
}
#Informacion_Direccion form{
    padding-bottom: 5%;
    margin: 0 18% 0 18%
}
#Informacion_Direccion form fieldset{
    border: none;
}

#Informacion_Direccion form h2{
    margin-top: 5%;
    padding-top: 8%;
    padding-bottom: 2%;
    text-align: center;
}

#Informacion_Direccion button:hover{
    background-color: #bcbbbc;
}
#Informacion_Direccion form  fieldset input{
    border-radius: 2rem;
    border: none;
    padding: 1.5% 0% 1.5% 2%;
}
#Informacion_Direccion select{
    border-radius: 2rem;
    padding: 1.5% 0% 1.5% 2%;
}
#Informacion_Direccion div button{
    border-radius: 2rem;
    cursor: pointer;
    padding: 2% 3% 2% 3%;
    margin: 5% 15% 0% 15%;
}
#Informacion_Direccion div button:hover{
    background-color: #bcbbbc;
}
#Informacion_Direccion div{
    margin: 0 auto;/*0 de arriba y abajo,,, auto a los lados*/
    text-align: center;
}



/*Pagarrrrr*/
#Pagar{
    display: flex;
    background-color: #E4E3E3;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px #000000;
    margin: 0 25% 0 25%;
    padding-bottom: 2%;
    padding-top: 2%;
    animation: transicion 1s;

}
#Metodo{
    margin-left: 15%;
}
#Metodo form legend h2{
    text-align: center;
}
#Metodo form fieldset{
    border: none;
}
#Metodo_Imagenes{
    
    align-items: center;
    display: none;

}
#Metodo form div {
    text-align: center;
    margin-top: 15%;
}
#Metodo form div button{
    border-radius: 2rem;
    padding:3% 4% 3% 4%;
    margin: 0% 12% 0% 6%;
    cursor: pointer;
}
#Metodo form div button:hover{
    background-color: #bcbbbc;
}

#Metodo_Imagenes figure img{
    
    border-radius: .3rem;

    
}
#Metodo_Imagenes figure{
    padding-top: 0%;
    padding-right: -50%;
    padding-left: 7%;
}
#Metodo_Imagenes button{
    border-radius: 2rem;
    padding: 3% 4% 3% 4%;
    margin-left: 42%;
    cursor: pointer;
}
#Metodo_Imagenes button:hover{
    background-color: #bcbbbc;
}